node_modules
.medusa
dist
build
.cache

.env
.env.*
!.env.template

.git
.github
.vscode
.idea
.yarn
.DS_Store

coverage
integration-tests
*.log
*.tsbuildinfo
medusa-db.sql

backups
Dockerfile
docker-compose.yml
DEPLOY.md
